<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="summary" th:fragment="classPreview(scheduledClass, place, actions)">
		<h2>
			<a th:href="${@deploymentContextService.viewClassUrl(scheduledClass)}">[[${scheduledClass.lesson.info.title}]]</a>
		</h2>
		<div class="date">
			<img th:replace="fragments/components.html :: icon('date.png')" />
			<span class="text">[[${#strings.capitalize(T(fr.yoga.booking.util.DateRangeUtil).format(scheduledClass.start, scheduledClass.end))}]]</span>
		</div>
		<div class="place" th:if="${place != null}">
			<img th:replace="fragments/components.html :: icon('place-address.png')" />
			<span class="text">[[${place.name}]] - [[${place.address}]]</span>
		</div>
		<th:block th:replace="${actions}" />
	</div>
	
	<div class="summary" th:fragment="bookedClassPreview(scheduledClass, bookedFor, place, actions)">
		<div th:include="::classPreview(${scheduledClass}, ${place}, ~{})"></div>
		<div class="booked-for">
			<img th:replace="fragments/components.html :: icon('student.png')" />
			<span class="text">[[${bookedFor.displayName}]]</span>
		</div>
		<th:block th:replace="${actions}" />
	</div>
</body>
</html>