@import "variables";
@import "button-utils";



.code {
	display: block;
	font-weight: bold;
	font-size: value($reset-password, "code.font-size");
	color: value($reset-password, "code.color");
	margin: value($reset-password, "code.margin");
	text-align: center;
}


.message {
	.reset-password {
		display: block;
		margin: value($reset-password, "reset-button.margin");
		text-align: center;
		
		a {
			@include button(value($buttons, "primary"));
			display: inline-block;
		}
	}

	p.validity-message {
		text-align: center;
		margin: value($reset-password, "validity.margin");
		font-size: value($reset-password, "validity.font-size");
	}
}

