.button {
	display: inline-block;
	background-color: #3880FF;
	padding: 5px 10px;
	color: #fff;
	border-radius: 2px;
	margin: 5px;
	text-decoration: none;
}

h2 a {
	color: #000;
	text-decoration: none;
}