body {
	width: 600px;
	margin: auto;
}

h1,
.actions {
	text-align: center;
}

.message,
.details {
	border-top: 1px solid #ccc;
}

.message p,
.details p {
	text-align: justify;
}

.actions {
	margin-top: 20px;
	margin-bottom: 20px;
}

.preview .date,
.preview .place,
.preview .booked-for,
.message p,
.details p {
	padding-left: 20px;
	padding-right: 20px;
}

.preview .date,
.preview .place,
.preview .booked-for {
	height: 40px;
	text-align: left;
}

.icon,
.text {
	display: inline-block;
	line-height: 20px;	
	height: 20px;
}

.icon {
	width: 20px;
	margin-right: 10px;
	text-align: center;
}
.icon img,
.text {
	vertical-align: middle;
}


.date .icon img {
	width: 14px;
	height: 16px;
}
.place .icon img {
	width: 14px;
	height: 12px;
}
.booked-for .icon img {
	width: 14px;
	height: 16px;
}