<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head(~{::title}, ~{::link})">
	<title>Une place est libre pour le cours du [[${T(fr.yoga.booking.util.DateRangeUtil).format(bookedClass.start, bookedClass.end)}]]</title>
	<link th:href="@{css/available-place.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<header th:replace="fragments/layout.html :: header(~{::h1}, ~{}, ~{::.status-icon})">
		<h1>Une place est libre. Merci d'indiquer si vous souhaitez prendre la place disponible.</h1>
		<img class="status-icon" th:replace="fragments/components.html :: icon('booking-place-available.png')" />
	</header>
	<div th:replace="fragments/class.html :: bookedClassPreview(${bookedClass}, ${student}, ${bookedClass.lesson.place}, ~{::.actions})">
		<div class="actions">
			<a class="confirm" th:href="${@deploymentContextService.takeAvailablePlaceUrl(bookedClass)}">Prendre la place</a>
			<a class="open" th:href="${@deploymentContextService.viewClassUrl(bookedClass)}">Voir le cours</a>
			<a class="unbook" th:href="${@deploymentContextService.unbookUrl(bookedClass)}">Vous désinscrire</a>
		</div>
	</div>
	<div class="message">
		<h2>
			Quelques informations supplémentaires
		</h2>
		<p th:replace="fragments/information.html :: approvedMessage"></p>
	</div>
	<div th:replace="fragments/information.html :: description(${bookedClass})"></div>
	<footer th:replace="fragments/layout.html :: footer(${student})"></footer>
</body>
</html>