<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head(~{::title}, ~{::link})">
	<title>Changement de lieu pour le cours du [[${T(fr.yoga.booking.util.DateRangeUtil).format(scheduledClass.start, scheduledClass.end)}]]</title>
	<link th:href="@{css/place-changed.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<header th:replace="fragments/layout.html :: header(~{::h1}, ~{::.place-changed-message}, ~{::.status-icon})">
		<h1>Changement de lieu</h1>
		<p class="place-changed-message">
			Le cours du [[${T(fr.yoga.booking.util.DateRangeUtil).format(scheduledClass.start, scheduledClass.end)}]] sera dispensé à <span class="new-place">[[${newPlace.name}]]</span>
			au lieu de <span class="old-place">[[${oldPlace.name}]]</span>
		</p>
		<img class="status-icon" th:replace="fragments/components.html :: icon('place-changed.png')" />
	</header>
	<div th:replace="fragments/class.html :: classPreview(${scheduledClass}, ${newPlace}, ~{})"></div>
	<footer th:replace="fragments/layout.html :: footer(${bookedFor})"></footer>
</body>
</html>