<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head(~{::title}, ~{::link})">
	<title>Changement de mot de passe</title>
	<link th:href="@{css/message-layout.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{css/reset-password.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<header th:replace="fragments/layout.html :: header(~{::h1}, ~{}, ~{})">
		<h1>Changement de mot de passe</h1>
	</header>
	<div class="message">
		<p>
			Bonjour <span class="username">[[${user.displayName}]]</span>,<br />
			<br />
			Vous avez fait une demande de réinitialisation de mot de passe. <br />
			Vous pouvez confirmer le changement de mot de passe en saisissant le code suivant sur le site ou l'application :
			<span class="code">[[${token}]]</span>
			Ou en cliquant sur le lien ci-dessous :
			<span class="reset-password"><a th:href="${@deploymentContextService.resetPasswordUrl(token)}">Changer votre mot de passe</a></span>
		</p>
		<p class="validity-message">Le lien et le code sont valables [[${T(fr.yoga.booking.util.DurationUtil).format(@passwordResetProperties.tokenValidity)}]].</p>
	</div>
</body>
</html>